.navbar {
  display: flex;
  justify-content: space-around;
}

.profile{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-primary,
.text-secondary{
  margin-left: 33rem;
}

form{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.post-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  margin-left: 33rem;
}

.vote-button-container{
  display: inline-flex;
  gap: 10px;
}


.comment-container h5,
.public-container h1{
  margin-left: 33rem;
}


